app.log

.pytest_cache
.vscode
__pycache__

.venv/
env/
venv/
ENV/

build/
dist/
*.egg-info/
.eggs/

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.env
.env.*

log.csv

uploaded_files/*
pdf_output/*

!uploaded_files/
!pdf_output/